@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Sora', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url('srmgoat.jpg');
    background-size: cover;
    background-position: center;
}

.container {
    text-align: center;
    color: #fff;
}

.container h1 {
    margin-bottom: 20px;
}

.buttons-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

button {
    padding: 20px;
    height: 100%;
    font-size: 16px;
    color: #fff;
    background-color: #3498db;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 20px;
}

button:hover {
    background-color: #be9d18;
}
