@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.h1{
    font-family: 'Sora', sans-serif;
}
.h2{
    font-family: 'Sora', sans-serif;
}

body {
    font-family: 'Sora', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    flex-direction: column; /* Display header and container vertically */
    align-items: center;
    background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url('srmgoat.jpg');
  background-size: cover;
  background-position: center;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: none; /* Add background color to the header */
}

.home-button {
    color: #fff;
    text-decoration: none;
    font-size: large;
}

.logo {
    max-height: 20%;
    max-width: 5%; /* Set the maximum height of the logo */
}

.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: -50px; /* Adjust the margin-top for spacing */
}

.admission-card {
    margin: 90px; /* Increased margin for more space */
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.admission-card:hover {
    transform: scale(1.05);
}

img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.admission-btn {
    border-radius: 20px;
    font-size: large;
    text-decoration: double;
    display: block;
    width: 100%;
    padding: 20px;
    text-align: center;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.admission-btn:hover {
    background-color: #2980b9;
}

a {
    text-decoration: none;
}
.home-button{
    max-height: 20%;
    max-width: 5%;
}

