@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap')
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;

    margin: 0;
    padding: 0;
    height: 100vh; /* Full height of the viewport */
    background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url('srmgoat.jpg');
    background-size: cover;
    background-position: center;
    
}

.admission-card {
    margin: 20px;
    overflow: hidden;
    
    transition: transform 0.3s ease-in-out;
    
    
}

.admission-card:hover {
    transform: scale(1.05);
}

img {
    width: 50%;
    height: auto;
   
}

.admission-btn {
    display: block;
    width: 50%;
    padding: 20px;
    text-align: center;
    background-color: #3498db;
    color: #fff;
    border: none;
    
    cursor: pointer;
    transition: background-color 0.3s ease;
}