
/* Resetting default margin and padding */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Styling the page */
body {
    background-color: #0c4da2; /* Dark blue background color */
    color: #fff; /* White text color */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

